<template>
  <div class='container-fluid'>
    <wj-flex-chart
      header='Сryptocurrencies'
      binding-x='name'
      selection-mode='Point'
      :items-source='cryptoStats'
      :palette='palette'
    >
      <wj-flex-chart-legend position='Bottom' />
      <wj-flex-chart-series
        name='Total markets'
        binding='numberOfMarkets'
      />
      <wj-flex-chart-animation />
    </wj-flex-chart>
  </div>
</template>

<script>
import "@grapecity/wijmo.styles/wijmo.css";
import '@grapecity/wijmo.vue2.core';
import '@grapecity/wijmo.vue2.chart';
import '@grapecity/wijmo.vue2.chart.animation';

import { mapGetters } from 'vuex';

export default {
  data: () => {
    return {
      palette: [
        'rgba(42,159,214,1)',
      ]
    }
  },
  computed: mapGetters({ cryptoStats: 'getCryptoStats' }),
}
</script>

<style>
.container-fluid{
  width: 100%;
}

.wj-control{
  height: 600px;
}
</style>