<template>
  <v-dialog
    v-model='isOpen'
    persistent
    max-width='800'
  >
    <v-card>
      <v-card-title class='headline'>
        <Graphics />
      </v-card-title>
      <v-card-actions>
        <div class='flex-grow-1' />
        <v-btn
          small
          @click='CLOSE_MODAL'
        >
          Hide stats
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Graphics from './Graphics'
import { mapGetters, mapMutations } from 'vuex';

export default {
  components: {
    Graphics,
  },
  computed: mapGetters({ isOpen: 'getModalOpenStatus' }),
  methods: {
    ...mapMutations(['CLOSE_MODAL']),
  }
}
</script>
