<template>
  <div class='text-center'>
    <v-menu
      offset-y
      v-model='openSettings'
      :close-on-content-click='false'
    >
      <template v-slot:activator='{ on }'>
        <v-btn
          color='secondary'
          dark
          @click='openSettings=true'
        >
          Settings
          <v-icon>mdi-settings</v-icon>
        </v-btn>
      </template>
      <v-list style='width: 150px;'>
        <v-list-item>
          <v-switch label='Switch' />
        </v-list-item>
        <v-list-item>
          <v-btn
            small
            @click='OPEN_MODAL'
          >
            {{ !isOpenModal? 'Open' : 'Close' }} modal
          </v-btn>
        </v-list-item>
        <v-list-item>
          <v-btn
            small
            @click='SHOW_HIDE_GRAPHICS_IN_BLOCK'
          >
            {{ !isDisplayInBlock? 'Show in' : 'Clear' }} block
          </v-btn>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';

export default {
  data: () => ({
    openSettings: false,
  }),
  computed: mapGetters({
    isOpenModal: 'getModalOpenStatus',
    isDisplayInBlock: 'getDisplayInBlockStatus'
  }),
  methods: {
    ...mapMutations(['OPEN_MODAL', 'SHOW_HIDE_GRAPHICS_IN_BLOCK']),
  }
}
</script>