<template>
  <v-card
    color='grey lighten-4'
    flat
    height='600px'
    width='600px'
    tile
  >
    <Modal />
    <v-toolbar dense>
      <div class='flex-grow-1' />
      <Settings />
    </v-toolbar>
    <div v-if='isDisplayInBlock'>
      <Graphics />
    </div>
  </v-card>
</template>

<script>
import Settings from './Settings';
import Modal from './Modal';
import Graphics from './Graphics';
import { mapGetters } from 'vuex';

export default {
  components: {
    Settings,
    Graphics,
    Modal
  },
  computed: mapGetters({ isDisplayInBlock: 'getDisplayInBlockStatus' }),
}
</script>
