<template>
  <v-app>
    <v-content>
      <Toolbar />
    </v-content>
  </v-app>
</template>

<script>
import Toolbar from './components/Toolbar';

export default {
  name: 'App',
  beforeCreate() {
    this.$store.dispatch('LOAD_CRYPTOCURRENCIES_DATA');
  },
  components: {
    Toolbar,
  },
};
</script>

<style>
  .v-content__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
